<h1> {{this.name}} </h1>


<p> {{this.name}} is a very unique pokemon! It's a {{this.type}} type pokemon. 
{{#if this.evolvePoke }} It evolves to {{this.evolvePoke}} {{/if}} </p>


<p>
	<a href="/"> Go Back to Pokedex </a>
</p>

