<h1>Chung's to do list</h1>

<p>
  <a href="/newTodo"> submit a new todo </a>
</p>

<table>
{{#each row}}
  <tr>
    <th>
      {{time}} :
    </th>
    <td>
      {{todo}}
    </td>
  </tr>
{{/each}}
</table>