<h1>Submit a new to-do for Chung</h1>

<form class="" action="/" method="post">

  <input type="text" name="todo" value="">
  <input type="submit" name="submit" value="Submit">

</form>

<p>
  <a href="/"> Go Back to the List </a>
</p>

